/****** WordPress Admin CSS ******/

// General
.hide {
  display: none;
}

.show {
  display: block;
}

.per100 {
  width: 100%;
}

.per70 {
  width: 70%;
}

// Portfolio Feed Custom Post Type Forms
.featured-project-order-hide, .project-link-hide {
  display: none;
}

.featured-project-order-show, .project-link-show {
  display: block;
}